/* Spinner */

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 50px auto;
}

.spinningCircle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0);
    border-top-color: 4px solid #7fc4d1;
    border-right-color: 4px solid #7fc4d1;
    -webkit-animation: single2 4s infinite linear;
    animation: single2 4s infinite linear;
}

@keyframes single2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border-top-color: #7fc4d1;
        border-right-color: #7fc4d1;
    }
    50% {
        border-top-color: #1f4f58;
        border-right-color: #1f4f58;
    }
    100% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
        border-top-color: #7fc4d1;
        border-right-color: #7fc4d1;
    }
}

@-webkit-keyframes single2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border-top-color: #7fc4d1;
        border-right-color: #7fc4d1;
    }
    50% {
        border-top-color: #1f4f58;
        border-right-color: #1f4f58;
    }
    100% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
        border-top-color: #7fc4d1;
        border-right-color: #7fc4d1;
    }
}

.spinner-small {
    @include square(20px);
}

.spinner-2x {
    @include square(40px);
}


/**
** New Page Loader
*/

.page-loader {
    position: absolute;
    z-index: 1041; // ZINDEX:100
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinner {
    &-teal {
        .st0 {
            fill: #00bdb0;
        }
    }
    // Add Color here
}

.loader {
    display: flex;
    width: 100%;
}